{% extends "::base.html.twig" %}

{% block title %}Edd Homepage{% endblock %}

{% block body %}
    <h3>Welcome to the EDD Homepage</h3>

    <a href="{{ path('create_user') }}"><p>Create User</p></a>
    {% if app.user %}
        <a href="{{ path('logout') }}"><p>Logout</p></a>
    {% else %}
        <a href="{{ path('login') }}"><p>Login</p></a>
    {% endif %}
        <a href="{{ path('readUsers') }}"><p>Read Users</p></a>
        <a href="{{ path('load_user_ajax') }}"><p>Read Users Ajax</p></a>
{% endblock %}
