{% extends "::base.html.twig" %}

{% block title %}EDDUserBundle:User:readUser{% endblock %}

{% block body %}
<h3>{{ user.username }}'s profile</h3>

    <ul>
        <li>{{ user.username }}</li>
        <li>{{ user.email }}</li>
    </ul>

    {% if app.user != user %}
        <p><a href="{{ path('delete_user',{id:user.id}) }}">delete User</a></p>
    {% endif %}

    <a href="{{ path('readUsers') }}">Back</a>


{% endblock %}
